Flask==2.2.5
Werkzeug==2.2.3
Flask-SQLAlchemy==3.0.2
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Migrate==4.0.4
email-validator==2.0.0
python-dotenv==0.21.1
pytest==7.3.1
pytest-cov==4.1.0
black==23.3.0
flake8==6.0.0
python-logging-loki==0.3.1
selenium==4.15.2
webdriver-manager==4.0.1 