.progress {
  margin-bottom: 16px;
  text-align: center;

  .label {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.45);
  }

  :global {
    .ant-progress {
      margin: 0 auto;
    }

    .ant-statistic {
      text-align: left;
    }

    .ant-statistic-title {
      font-size: 14px;
    }

    .ant-statistic-content {
      font-size: 20px;
    }
  }
}

.card {
  margin-bottom: 16px;
}

.list {
  :global {
    .ant-list-item {
      padding: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.sprintCard {
  width: 100%;

  .content {
    .goal {
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.85);
    }

    .dates {
      color: rgba(0, 0, 0, 0.45);
    }
  }
} 