name: TEST

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Setup Chrome
      uses: browser-actions/setup-chrome@v1.7.2
        
    - name: Run Pytest
      run: pytest
